@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans&display=swap');

$primary-color: #564087;
$accent-orange: #E45C30;
$accent-green: #6B9340;
$text-primary: #323540;
$text-secondary: #E45C30;

body {
  font-family: 'Open Sans';
}

h1, h2, h3 {
  font-family: 'Nunito Sans';
}

button {
  color: #fff;
  padding: 2rem 4rem;

  &--primary {
    background-color: $primary-color
  }

  &--secondary {
    background-color: $accent-orange
  }

  &--tertiary {
    background-color: $accent-green
  }

}

