@import 'app.scss';

.form {
  .form-input {
    margin: 1.5rem 0;
    width: 100%;
    
    label {
      width: 40%;
    }

    input {
      width: 60%;
    }

    &__button {
      margin-top: 3rem;

      input {
        width: 70%;
        margin: 0 auto;
        display: block;
      }

    }
  }

  &__helper-text {
    text-align: center;
  }


}