@import 'app.scss';

.navbar {
  margin-bottom: 3rem;
  background-color: $primary-color;

  a, a:hover, button {
    color: #fff;
    text-transform: uppercase;
  }

  button {
    border: none;
    background: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__brand {
    margin: 0.5rem 2rem;
  }

  &__link {
    padding-right: 4rem;
    font-weight: bolder;
  }

}